
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Ruge+Boogie&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');


                

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nexa', sans-serif;
}                       



/*nav-sec*/

nav a{
    font-size: 18px;
    color: #333333;
    padding: 5px;
    border-radius: 20px;
    transition: all ease-in 0.3s;
}
nav a:hover{
    background-color: #FE8C45;
}
.cl-bt{
    background-color: #FE8C45;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    font-family: 'Nexa', sans-serif;
}
.cl-bt:hover{
    color: #FE8C45;
}

/*her-sec*/

.large-text{
    color: #111111;
    font-weight: 900;
    font-size: 74px;
    font-family: 'Nexa', sans-serif;
}

.hero-sp{
    color: #8A47F6;

}

/*about us sec*/
.about{
    background-color: #f3edfe;
    gap: 30px;
}

.forwidth img{
    width: 250px;
    object-fit: cover;
}
.forwidth1{
    height: 532px;
    gap: 20px;
}
.forwidth1 img{
    width: 240px;
    height: 257px;
    object-fit: cover;
}

.large-head{
    font-size: 48px;
    font-weight: 900;
    color: #111111;
    font-family: 'Nexa', sans-serif;
}
.about-p{
    font-size: 18px;
}

/*portfolio*/
.large-title{
    font-size: 48px;
    font-weight: 900;
    color: #111111;
    font-family: 'Nexa', sans-serif;
}
.navi{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 20px 20px 50px grey;
    border-radius: 10px;
}
.navi a{
    font-size: 18px;
    color: #333333;
    transition: all ease-in 0.3s;
    border-radius: 5px;
    padding: 3px;
}
.navi a:hover{
    background-color: #8A47F6;
    color: #f3edfe;
}
#one{
    color: #8A47F6;
}
#one:hover{
    color: #f3edfe;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: dense;
}
.grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.horizontal{
    grid-column: auto / span 2;
}
.vertical{
    grid-row: auto / span 2;
}

/*price-sec*/

#card{
    background-color: #fff;
    border-radius: 10px;
    height: 300px;
    width: 350px;
    box-shadow: 20px 20px 50px grey;
}
#card:hover{
    color: white;
    background-color: #111111;
}

/*testimonial sec*/

.test-sec{
    background-color: #f3edfe;
}
.test-sec span{
    width: 252px;
    background-color: #f3d4fd;
    border-radius: 20px;
    padding: 10px;
}
.test-sec i{
    border: 1px solid grey;
    padding: 5px;
    border-radius: 50%;
}

/*feed-sec*/

.insta{
    height: 340px;
    padding-top: 18px;
}

/*que-form*/

.touch-sec{
    background-color: #ede3fe;
    height: 320px;
    margin-top: 160px;
    border-radius: 10px;
}
.touch-sec h6{
    font-weight: 600;
}
.icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #8A47F6;

   
}
.touch-sec i{
    font-size: 25px;
    margin-left: 9px;
    margin-top: 7px;
    cursor: pointer;
    color: white;
}